.App{
  border: 2px solid lightgrey;

  width: 75%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

Strong {
  font-size: 30px;
  margin-left: 15px;
}

.sortBtn {
  float: right;
  margin-top: 10px;
  margin-right: 5px;
  background-color: Orange;
  border: none;
  color: black;

}
